.sidebar {
    flex: 1;
    height: calc(100vh - 50px);
    top: 50px;
    background-color: #f3f9f9;
    min-width: 500px;
}

.sidebarWraper {
    padding: 20px;
    color : #555;
}

.sidebarMenu {
    margin-bottom: 10px;
}

.sidebarList {
    list-style: none;
    padding: 5px;
}

.sidebarListItem {
    text-decoration: none;
    padding: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 5px;
}

.sidebarIcon {
    margin-right: 5px;
    font-size: 20px !important;
}

.sidebarListItem.active,
.sidebarListItem:hover{
    background-color: #e2e9ec;
}


