.header-home {
    padding: 30px;
    background: #011627;
    height: 40px;
}

.sidenav {
    flex: 1;
    visibility: hidden;
    background: #011627;
    height: 72vh;
    transition: all 0.8s;
    width: 0;
    position: absolute;
}

.sidenav.active{
    width: 240px;
    padding: 0 30px;
    visibility: visible;
    position: relative;
}


.sidenav ul li {
    list-style-type: none;
    margin: 10px 0;
    height: 30px;
}

.sidenav ul li a {
    color: #eaecef;
    text-decoration:  none;
    font-size: 16px;
    display: block;
    padding: 10px 15px;
    border-radius: 6px;
}

.sidenav ul li a:hover,
ul li a.active {
    background :#172b4d;
}


.layout-front{
    margin: 10px 10px;
    width: 100%;
    padding: 20px;
    height: 70vh;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid rgb(0 0 0 / 0.2);
    border-radius: 6px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    transition: all 1s;
    transition-delay: 0.5s;
}

.layout-front.shrink{
    width: calc(100% - 240px);
    transition: all 1s;
}





